@use 'src/styles/variables/colors' as *;
@use 'src/styles/index';

header{
  height: 90px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  h1{
    padding-left: 40px;
    color: $beluga;
    font-weight: 900;
  }
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-field{
  padding-bottom: 20px;
  &__label{
    color: $raven;
  }
  &__radio{
    padding-bottom: 20px;
    h4{
      padding-bottom: 5px;
    }
    mat-radio-button{
      padding-right: 6px;
    }
  }
}

.form{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.calendar-icon{
  color:$raven;
}

mat-form-field{
  button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
}