@use 'src/styles/variables/colors' as *;

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #00ADEE;
  border-width: 2px;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: #00ADEE;
  scale: 1.2;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #BCC1C2  !important;
}
::ng-deep .mat-radio-button .mat-radio-ripple {
  height: 20px !important;
  width: 20px !important;
  left: calc(50% - 10px) !important;
  top: calc(50% - 10px) !important;
  border-radius: 50%;
}
::ng-deep .mat-radio-outer-circle{
  border-width: 1px;
  border-color: $iron;
  background-color: $lilyWhite;
}
::ng-deep .mat-radio-label-content{
  padding-left: 12px;
}
