$deepSkyBlue: #00ADEE;
$raven: #6F787B;
$zicron: #E1E4E5;
$iron: #BCC1C2;
$lilyWhite: #F9FAFA;
$riverBed: #566063;
$beluga: #EEF1F1;
$twilightGrey: #D1D5D6;
$dynamicBlue: #0792C7;
$cinder: #15181A;
$pattens-blue: #EEF7FA;
